// Common
.animated {
    -webkit-animation-duration: 0.5s;
    /* -webkit-animation-delay: 0.5s; */
    -moz-animation-duration: 0.5s;
    /* -moz-animation-delay: 0.5s; */
    animation-duration: 0.5s;
    /* animation-delay: 0.5s; */
}

// Sidebar
#sidebar {
    #side-menu {
        ul.nav {
            width: 100%;
            
            li {
                width: 100%;
            }
            
            > li {
                font-size: 1rem;
                
                &:hover {
                    background-color: #8c8c8c;
                }
            }
        }
        
        .menu-children {
            background-color: #494949;
            
            a {
                font-size: 0.95rem;
                
                &:hover {
                    color: #000 !important;
                    background-color: #fff;
                    border-color: 0.5px solid #adadad;
                }
            }
        }
        
    }
}

@media (min-width: 992px) {
    #sidebar {
        height: 100vh;
        
        .navbar-collapse#side-menu {
            display: -ms-flexbox !important;
            
            display: flex !important;
            
            -ms-flex-preferred-size: auto;
            
            flex-basis: auto;
        }
        
        .navbar-brand {
            width: 100%;
        }
    }
}

// Top Bar
//Topbar CSS
#topbar {
    background-color: #adadad;
    
    a {
        text-decoration: none;
        
        &:hover {
            background-color: #8c8c8c;
        }
    }
    
    .dropdown-menu {
        margin-top: 0px;
        border-top: {
            right-radius: 0px;
            left-radius: 0px;
        }
        right: 0.5rem;
        padding: 0;
        
        a.dropdown-item {
            padding: 0.5rem 0.8rem;
            
            &:hover {
                background-color: #e8e8e8;
            }
        }
    }
}